site_name: Anomaly Detection (MVTec)
site_author: Team 15
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["../src"]
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Pipeline:
      - Data: pipeline/data.md
      - Train: pipeline/train.md
      - Inference: pipeline/inference.md
      - Evaluation: pipeline/evaluation.md
      - Data Drift: pipeline/data_drift.md
  - Deployment:
      - Docker: deployment/docker.md
      - Cloud (GCP): deployment/cloud.md
  - Development:
      - Style & Linting: development/style.md
      - Hydra: development/hydra.md
      - Loggining & Profiling: development/logging-profiling.md
